.title {
	text-align: center;
	font-family: Archivo, sans-serif;
}

.button-group {
	text-align: center;
	font-family: Archivo, sans-serif;
}

.tooltip {
	background-color: #f0f0f0;
	font-family: Archivo, sans-serif;
	padding: 4px;
	border-radius: 4px;
	color: #303030;
}